#| About: https://help.github.com/articles/ignoring-files
#| Format: https://git-scm.com/docs/gitignore#_pattern_format

## Skill-seekers analysis
code_analysis.json
documentation_index.json
statistics.json
dependency_graph.*

## User ignored
\!\!*
..*

## Logs
logs/
*.log
*.stackdump

## Temporary
.tmp/
tmp/
*.tmp

## Backup
~*
*~
*.bak
*.backup
*.swp
*.orig
